body {
    background-image: url("https://cdn.pixabay.com/photo/2015/07/27/20/16/book-863418_960_720.jpg");
    background-position: center center;
}


.mCuenta {
    text-align: center;
    padding: 2rem;
}

.cardDisplay {
    background: rgba(240,157,43,0.5);
    width: 20rem;
    justify-content: center;
    align-items: center;
    height: 19rem;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnCenter {
    display: flex;
    justify-content: center;
}
.form-control:focus {
    color: #E1D7C3;
    background-color: #553A05;
    border-color: #ECA417;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(183, 127, 17, 0.89);
}
.inputControl {
    color: #fff;
    background-color: #b36f0e;
    background-clip: padding-box;
    border: 1px solid #4a2000;
}

